@import "tailwindcss";
@config "../tailwind.config.js";

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
  height: 100%;
}